<nav>
    <div class='navbar-column'>
        <a href='/' title='Inicio'>Inicio</a>
    </div>
    <div class='navbar-column'>

    </div>
    <div class='navbar-column'>

        <a href='/api/auth/login' class='log-button' title='Login'>Iniciar
            sesión</a>
        <a href='/api/auth/signup' title='Signup '>Crear usuario</a>
    </div>

</nav>