<div class='home-box'>
    <h2>Bienvenido!!</h2>
    <img
        src='https://www.pngall.com/wp-content/uploads/2016/04/Enter-Free-PNG-Image.png'
        class='backend'
        alt='backend'
    />
    <h1>Tienda Online</h1>

</div>