<img
    src='https://img.icons8.com/flat-round/256/error.png'
    class='arrow'
    alt='success!'
/>
<h2>Error al iniciar sesión</h2>
<a href='/api/auth/login'>Intentar de nuevo</a>

<script>
    const timer = () => { setTimeout(() => { document.location.href =
    '/api/auth/login' }, 2000)}; timer()
</script>