<div class='logout-box'>
    <img
        src='https://img.icons8.com/ios-filled/256/exit.png'
        class='arrow'
        alt='success!'
    />
    <strong class='green'>{{user.username}}</strong>

</div>

<script>
    const timer = () => { setTimeout(() => { document.location.href = '/' },
    1500); } timer()
</script>