<div class='login-box'>
    <h2>Información </h2>
    <img
        src='https://img.icons8.com/ios/256/info.png'
        class='arrow'
        alt='success!'
    />
    <p class='json'>{{session}}</p>

</div>