<div class='signup-box'>
    <form method='post' action='/api/auth/signup'>
        <h2>Crear usuario</h2>
        <img
            src='https://img.icons8.com/ios-filled/256/add-user-male.png'
            class='arrow'
            alt=''
        />
        <input placeholder='Nombre' name='nombre' required='true' />
        <input
            placeholder='Telefono ejemplo: 5512308811'
            name='telefono'
            required='true'
        />
        <input placeholder='Dirección' name='direccion' required='true' />
        <input placeholder='Avatar url' name='url' required='true' />
        <input placeholder='Edad' name='edad' required='true' />
        <input
            placeholder='Email'
            name='username'
            required='true'
            type='email'
        />
        <div class='password-row'>
            <input
                placeholder='Contraseña'
                name='password'
                required='true'
                type='password'
                id='password'
            />
            <button class='btn' type='button' onclick='mostrarContrasena()'><img
                    src='https://img.icons8.com/pastel-glyph/256/surprise--v2.png'
                    alt='eye'
                    class='eye'
                /></button>

        </div>

        <button class='log-button m-2' type='submit'>Crear usuario</button>
    </form>
</div>
<div class='navbar-column'>
    <a href='/api/auth/login' title='Login'>Iniciar sesión</a>
</div>

<script>
    function mostrarContrasena() { var tipo =
    document.getElementById("password"); if (tipo.type == "password") {
    tipo.type = "text"; } else { tipo.type = "password"; } }
</script>